[submodule "deps/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dep/osdialog"]
	path = dep/osdialog
	url = https://github.com/AndrewBelt/osdialog
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog
